

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Información</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead">Debes cumplimentar el formulario con tus datos personales para poder entregarlo en tu domicilio y añadir
            un teléfono de contacto para que el transportista te notifique la fecha y horario de entrega.            
            Finalizado el proceso de reserva, recibirás un correo con la confirmación y la dirección de envío.
            ¡Hazlo hoy mismo! Tienes tiempo hasta el 21 de noviembre. ¡Pero no te retrases o te quedaras sin jamón!</p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">Todas las personas del Grupo han recibido un email como el tuyo, así que no lo reenvíes a ningún compañero o compañera. Es personal e intransferible.
            Si tú o cualquier persona del Grupo tenéis alguna duda o problema, podéis contactar con nuestro equipo de Atención al cliente y te ayudarán a solucionar tu incidencia.
            Teléfono de Atención al cliente La Ilusión de Regalar: 963 584 831</p>
        </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="#contact"> 
          <i class="fa-solid fa-check-double me-2"></i>
          Valida tus datos
        </a>
      </div>
    </div>
  </section>